body {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/onlyfits-1ba90.appspot.com/o/photo_2024-05-15_16-49-04.jpg?alt=media&token=cd1aa805-3f82-4f8a-98ee-9141d23beb9dkground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
}


.card-programs{
  transition: 0.9s;
  opacity: 0.89;

}
.card-programs:hover{
  opacity: 1;
}

.delete-prog-btn {
  background-color: rgb(255, 105, 5);
  color: black;
  font-weight: 600;
  border: solid 1px black
}


