body {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/onlyfits-1ba90.appspot.com/o/photo_2024-05-15_16-49-04.jpg?alt=media&token=cd1aa805-3f82-4f8a-98ee-9141d23beb9d');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
}

#general {
  display: flex;
}

.programs-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap:5px;
  margin: auto;
}

.eachProgram {
  margin: auto;
  border-radius: 10px;
  border: solid gray 2px;
  width: 300px;
}

#programs-filters-container {
  display: flex;
  gap: 30px;
}

.card-info {
  width: 340px;
  text-align: center;
  color: white;
}

.ant-card-body{
  background-color: rgb(12, 7, 7);
}

.add-prog-btn {
  background-color: rgb(255, 105, 5);
  color: black;
  font-weight: 600;
  border: solid 1px black
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* img:hover{
  transition: 0.3s;
  opacity: 0.7;
} */

.card{
  transition: 0.9s;
  opacity: 0.89;
}
.card:hover{
  opacity: 1;
}

/* filter styles */

#programs-filters-container{
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}

.program-level-type-filter{
  display: block;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  background: transparent; 

}

#search-btn{
  background-color: rgb(255, 105, 5);
  color: black;
  font-weight: 600;
  border: solid 1px black;
  height: 32px;
  border-radius: 6px;
  padding: 4px 15px;

}