#profile-page-container{
  display: flex;
  flex-direction: column;
  align-items: center

}


#all-picked-program-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.picked-program-container {
  margin: auto;
  border-radius: 10px;
  border: solid gray 2px;
  width: 300px;
}

#calendar-container {
  width: 500px;
  height: 400px;
  text-align: center;
  border-radius: 8px;
  border: solid gray 2px;
}


table{
  width: 480px;
  height: 380px;
}


.button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
  width: 400px;
}

.calculator {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  text-align: center;
}

.ant-btn {
  width: 200px;
}

.modal-style {
  background-color: rgb(243,244,239);
  color: rgb(13, 20, 28);
}

.modal-style .ant-modal-content {
  background-color: rgb(243,244,239);
  color: rgb(13, 20, 28);
}

.modal-style .ant-modal-header {
  background-color: rgb(243,244,239);
  color: rgb(13, 20, 28);
}

.modal-style .ant-modal-footer {
  background-color: rgb(243,244,239);
  color: rgb(13, 20, 28);
}

.ant-modal-footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ant-btn-default {
  width: 250px;
}

.ant-btn-primary {
  width: 250px;
  background-color: rgb(13, 20, 28);
  color: rgb(243,244,239);
}