.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #d9d9d9;
    background: rgb(51, 51, 51);
    color: white;
    border: none;
}

/* :where(.css-dev-only-do-not-override-1okl62o).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 30px;
    color: gray;
} */

.ant-select-open {
    background-color: gray;
}